* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	font-size: 1.5rem;
	background-color:#fff;
	color:#000; 
}

#head {
	display: grid;
	grid-template-columns: 1fr 3fr;
	padding: 0 10rem;
	margin: 0.5rem 0 4rem 0;
	
	
}


body {
	background-color:#fff;
	color:#000;
	min-height: 100vh;
	font-family: Verdana, sans-serif; 
	margin: 0;
    	padding: 0;
}

.container { 
	padding: 0 10rem;
	margin: 7rem 0;
}

.card {
	background-color: #8C271E;
	border-radius: 12px;
	padding: 2rem;
	box-shadow: 0 10px 25px rgba(f, f, f, 0.4);
	max-width: 600px;
	
}

a {
	color:#000;
}


.titles{
	font-family:  'Trebuchet MS', serif;
	color: #0A9417;
	font-size: 2rem;
	margin: 0 0 2rem 0;
	
}

.subtitle{
	font-family: 'Trebuchet MS', serif;
	color:#0A9417;
	font-size: 1.5rem;
	margin: 3rem 0 1rem 0;			
}

.description-text{
	font-size:1.2rem;
	margin: 0.5rem 0;
	font-family: Verdana, sans-serif; 
	line-height:2rem;
}


.code-text{
	font-family: Consolas, Monaco, 'Courier New', monospace;
	font-size: 1.4rem;
	paddin: 0 0 0 5rem;
	
}

.button {
	width: 120px;
	height: 40px;
	margin: 1.5rem;

	display: inline-flex;
	align-self: center;
	align-items: center;
	justify-content: center;

	background-color: #284700;
	color: #FFFAE5;

	border: 2px solid #F0C493;
	border-radius: 14px;
	box-shadow:  0 4px 10px rgba(0, 0, 0, 0.5);

	font-family:  'Trebuchet MS', serif;
	font: inherit;
	cursor: pointer;

	appearance: none;
	-webkit-appearance: none;

	transition: all 0.25s ease;
}

.button:hover {
	background-color: #F0C493;
	color: #284700;
}


.jobtitle{
	font-family: Verdana, sans-serif; 
	padding: 1rem 0 0 0;	
}

.line_ul{
	list-style: none;
	padding: 0.5rem;

}

.line_ul li {
	display: inline-block;
	margin-right: 2rem;
	font-family:'Trebuchet MS', serif;
	align-items: center;

}

nav a{
	text-decoration: none;
	color: #000;
	

}
.right{
	text-align: right;	
}


.left {
	text-align: left;
}

.center {
	text-align: center;
	align-items: center;
}

.ul-with-title{
	padding:2rem 20rem 1.5rem 5rem;
	font-size:1.2rem;
	margin: 0.5rem 0;
	font-family: Verdana, sans-serif; 
	line-height:2rem;
}


.ul-li-title {
	font-weight: bold;
	font-size: 1.4rem;
	margin: 0.8rem 0;
	font-family: Verdana, sans-serif; 
	line-height: 2rem;
}

.ul-with-title li::marker {
	font-weight: bold;
}


.ul-with-title li{
	padding: 0.3rem 0;
}




#selfintro{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
	margin: 2rem auto;
	max-width: 1200px;
}


.intro{
	text-align: center;
}


.intro img{
	width: 250px;

}

intro-center-foto{
	width: 70%;
	max-width:800;
}


.intro-caption{
	margin-top:0.5rem;
	font-size: 1.2rem;
	opacity: 0.8;
}


.intro-title h1 {
	font-size: 5rem;
	letter-spacing: 3px;
	font-family:  'Comic Sans MS', cursive;	
}


.intro-text{
	font-size:1.2rem;
	margin: 1rem;
	line-height: 1.5;
	color: #F0C493;
	font-family:  'Comic Sans MS', cursive;

}






#contact{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
}

.contact-me {
	
	
	gap: 7rem;
	display: flex;        
	
}


.contact-links{
	align-items: center;
}




.icon {
	width: 24px;
	height: 24px;
	fill: currentColor;
}



#educationbackground {
	margin: 4rem 0;
	background-color: #CFFFC4;
	padding: 4rem 10rem;

}



#last-academic-work {
	display: grid;
	grid-template-columns: 2fr 1fr;
	
	
	gap: 10rem;
	
}






.pdf-canvas-wrapper {
	display: flex;
	justify-content: center;
	background: #fff;
	padding: 2px;
	border-radius: 10px;
	overflow: auto;
	box-shadow: 0 12px 35px rgb(86, 153, 14, 1);
}






.call-to-action-right{
	display: grid;
	grid-template-columns: 3fr 2fr;
	margin-top: 2rem;
	
}

.call-to-action-left{
	display: grid;
	grid-template-columns: 2fr 3fr;
	margin-top: 2rem;
	
}


.img-cta{
	width:100%;
	max-witdh: 1200px;

}

.content-cta-right{
	margin-left: 2rem;
}

.content-cta-left{
	margin-right: 2rem;
}

















/* --About-- */





#whoami{
	align-items: center;
			
}




.foto-for-about{
	width:100%;
	
	max-witdh: 1200px;

}














/* --Projects-- */

#board {
	display: grid;
	grid-template-columns: 300px 1fr;
	gap: 2rem; 
	align-items: start;
	 
}


.name-of-choised-content{
	padding-right: 1rem;
	border-right:2px solid #FFFAE5;
		

}



.chois-template{
	display: block;
	font-size: 1.4rem;
	margin: 0.7rem 0.7rem 0 0;
}

.head-of-choises{
	font-size: 1.7rem;
	color: 	#FFFAE5;
	margin: 2rem 1.4rem 0 0; 
}


.content {
	display: none;
	margin: 0 2rem 2rem 0;
	
}

.content.active {
	display: block;
	
}

.choised-content-grid-right{
	display: grid;
	grid-template-columns: 1fr 2fr;
}


.choised-content-grid-left{
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.foto-for-grid-contents{
	width:100%;
	max-width: 650px;
}


.foto-center-grid{
	display: flex;
	justify-content: center; 
	align-items: center;      
	padding: 2rem 0 2rem 0;

}



.foto-center{
	width: 60%;
	max-width: 1800px;
	
}

.foto-grid-two{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin:2rem 0 2rem 0;

}

.foto-two{
	width: 100%;
	max-with: 1800px;
}




/* --Csase Stadys-- */

.figur-for-fotos-center{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:6rem 0 1rem 0;
}




