* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	
	
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}

#head {
	display: grid;
	grid-template-columns: 1fr 3fr;
	background-color:#fff;
	color:#3A783C; 
	
	
}

nav a{
	text-decoration: none;
	color: #3A783C;
	font-size: 1.5rem;
	

}


/* Barner */


.card_barner {
	position: relative;
	display: grid;
	grid-template-colums:3fr 1fr;
	min-height: 500px;
	padding: 2.5rem;
	margin: 2rem 0 0 0;
	border: 4px solid #A1745A;
	border-radius: 20px;
	overflow: hidden;
	text-decoration: none;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.donatello {
	position: absolute;
	right: 0;
    	bottom: 0;
	opacity: 0.20;
}


.logo{
	display: flex;
	margin: 7rem 0 0 10rem;
	
}

.done {
	font-family: "Arvo", serif;
	font-weight: 400;
	font-style: normal;

	font-size: clamp(2rem, 8vw, 6rem);
	line-height: 0.97;

	text-transform: lowercase;
	color: #3A783C;
	transform: none;
}

.elli{
	font-family: "Arvo", serif;
	font-weight: 400;
	font-style: normal;
	font-size: clamp(2rem, 8vw, 6rem);
	line-height: 0.97;
	padding: 0 0 0 1rem;
	
	color: #4CAF4F;
	transform: none;
}


.logo_text{

	font-family: "Arvo", serif;
	font-weight: 400;
	font-style: normal;
	margin: 5rem 0 0 10rem;
	font-size: clamp(0.875rem, 1.67vw, 1.25rem);
	line-height: 0.9;

	letter-spacing: 0.06em; 
	text-transform: lowercase;

	color: #3A783C; 
}
}
















body {
	background-color:#fff;
	color:#000;
	min-height: 100vh;
	font-family: Verdana, sans-serif; 
	margin: 0;
    	padding: 0;
}







/* --Containers-- */


.container_head{
	max-width: 1650px;
	margin: 0 auto;
	padding: 1rem 4rem 2rem 4rem;
}

@media (max-width: 1200px) {
	.container_head {
		padding: 1rem 3rem 2rem 3rem;
	}
}

@media (max-width: 992px) {
	.container_head {
		padding: 1rem 2rem 2rem 2rem;
	}
}

@media (max-width: 576px) {
	.container_head {
		padding: 1rem 1.2rem 2rem 1.2rem;
	}
}


.container,
.container_dark {
	max-width: 1650px;
	margin: 0 auto;
	padding: 4rem;
}

.container_dark {
	background-color: #3A783C;
}


@media (max-width: 1200px) {
	.container,
	.container_dark {
        	padding: 3rem;
    }
}

@media (max-width: 992px) {
	.container,
	.container_dark {
        	padding: 2rem;
    }
}

@media (max-width: 576px) {
	.container,
	.container_dark {
	        padding: 1.2rem;
    }
}











/* Tetxs  */



a {
	color:#000;
}


.titles {
	font-family:  'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 2.25rem;      
	line-height: 2.25rem;    
	letter-spacing: 0;

	color: #4CAF4F;
	margin: 0 0 2rem 0;
}


.titles_dark {
	font-family:  'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 2.25rem;      
	line-height: 2.25rem;    
	letter-spacing: 0;

	color: #FFD557;
	margin: 0 0 2rem 0;
}


.subtitle {
	font-family:  'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1.5rem;      
	line-height: 2.25rem;  
	letter-spacing: 0;

	color: #4CAF4F;
	margin: 3rem 0 1rem 0;
}


.subtitle_dark {
	font-family:  'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1.5rem;      
	line-height: 2.25rem;  
	letter-spacing: 0;

	color: #FFD557;
	margin: 3rem 0 1rem 0;
}


.description-text {
	font-family:  'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.12rem;     
	line-height: 1.875rem;   
	letter-spacing: 0;
	margin: 1.5rem 0 0 0;
}

.description_dark {
	font-family:  'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 1.12rem;     
	line-height: 1.875rem;   
	letter-spacing: 0;
	color: #fff;
	margin: 1.5rem 0 0 0;

}

.code-text{
	font-family: Consolas, Monaco, 'Courier New', monospace;
	font-size: 1.3rem;
	padding: 2rem 0 2rem 5rem;

	
}









.line_ul{
	list-style: none;
	padding: 0.5rem;

}

.line_ul li {
	display: inline-block;
	margin-right: 2rem;
	font-family:Verdana, serif;
	align-items: center;

}




.right{
	text-align: right;	
}


.left {
	text-align: left;
}

.center {
	text-align: center;
	align-items: center;
}

.ul-with-title{
	padding:2rem 20rem 1.5rem 5rem;
	font-size:1.2rem;
	margin: 0.5rem 0;
	font-family: Verdana, sans-serif; 
	line-height:2rem;
}


.ul-li-title {
	font-weight: bold;
	font-size: 1.4rem;
	margin: 0.8rem 0;
	font-family: Verdana, sans-serif; 
	line-height: 2rem;
}

.ul-with-title li::marker {
	font-weight: bold;
}


.ul-with-title li{
	padding: 0.3rem 0;
}







.illustration{
	width: 100%;
	max-width: 800px;
}




.icon {
	width: 40px;
	height: 40px;
	fill: currentColor;
}

.icon-link{
	color: #fff;
}





/* Dashboards */




.card_dashboard {
	position: relative;
	display: flex;
	align-items: flex-start;
	min-height: 500px;
	padding: 2.5rem;
	margin: 2rem 0 4rem 0;
	border-radius: 20px;
	overflow: hidden;
	text-decoration: none;
	color: #fff;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_bg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.card_bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_dashboard::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
    transition: background 0.3s ease;
}




.card_dashboard:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.card_dashboard:hover::before {
    background: rgba(0, 0, 0, 0.45);
}

.card_dashboard_content {
	position: relative;
	z-index: 2;
	max-width: 55%;
	
}

.card_dashboard_content h3{
	margin: 2rem 0;
	font-size: 2.26rem;
	
}

.card_dashboard_content p{
	
	font-size: 1.25rem;
	
}

.card_dashboard_content span{
	display: block;
	
	margin: 4rem 0 0 0; 
	font-weight: 200;
	
}




/*Education section */

#educationbackground {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 2rem;

}



#last-academic-work {
	display: grid;
	grid-template-columns: 2fr 1fr;	
	gap: 10rem;
	
}






.pdf-canvas-wrapper {
	display: flex;
	justify-content: center;
	background: #fff;
	padding: 2px;
	border-radius: 10px;
	overflow: auto;
	box-shadow: 0 12px 35px rgb(86, 153, 14, 1);
	max-height: 85vh;  
	width: fit-content;
}

#download-btn {
	text-decoration: none;
	color: inherit;
	background: none;
	border: 1px solid currentColor;
	padding: 4px 7px;
	border-radius: 5px;
	cursor: pointer;
}

#download-btn:hover {
	background: rgba(0,0,0,0.1);
}



/* Call To Action */

#calltoaction {
	background-color: #3A783C;
	
}

.call_to_action_cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
	justify-items: center;
	gap: 1rem;
}


.card_cta {
	background-color: #fff;
	border-radius: 14px;
	padding: 2rem;
	margin: 6rem 0;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
	max-width: 500px;
	text-decoration: none;
	color: inherit;
	display: block;
	text-decoration: none;
	transition: transform 0.25s ease, box-shadow 0.25s ease;
	cursor: pointer;
}

.card_cta:hover {
	transform: translateY(-8px);
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.22);
}

.secret_signal {
	margin: 2rem 0 10rem 0;
}






#contact{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	background-color: #3A783C;
	color: #fff;
	padding: 2rem 0 4rem 0;
	border-top: 1.5px solid #fff;
 
}







.contact_ul{
	list-style: none;
	padding: 0.5rem;

}

.contact_ul li {
	display: inline-block;
	margin-right: 5rem;
	font-family:'Trebuchet MS', serif;
	align-items: center;

}



#end {
	background-color: #3A783C;
}









/* --About-- */





#whoami{
	align-items: center;
	background-color: #3A783C;
}




.foto-for-about{
	width:100%;
	border: 3px solid #3A783C;
	border-radius: 22px;
	margin:0 0 2rem 0;	

}
 
.my_foto{
	background-color: #fff;
	align-items: center;
}


.about_description{
	padding: 0 0 25rem 0;
}














/* --Projects-- */

#board {
	display: grid;
	grid-template-columns: 300px 1fr;
	gap: 2rem; 
	align-items: start;
	 
}


.name-of-choised-content{
	padding-right: 1rem;
	border-right:2px solid #FFFAE5;
	color: #fff;
	
		

}



.chois-template {
	display: block;
	font-size: 1.125rem; 
	font-weight: 700;
	line-height: 1; 
	letter-spacing: 0;
	margin: 0 0 3rem 0;
	color: #fff;
	text-decoration: none;
	transition: color 0.2s ease;
}

.chois-template.active-link {
	color: #FFD557;

}

.head-of-choises{
	font-size: 1.7rem;
	color: 	#FFFAE5;
	margin: 2rem 1.4rem 0 0; 
}


.content {
	display: block;
	margin: 0 2rem 2rem 0;
	
}




.titels_of_content{
	margin: 2rem 0 3rem 0;
}






.foto-center{
	width: 100%;
	max-width: 1800px;
	
}






/* --Csase Stadys-- */

.figur-for-fotos-center{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:4rem 0 4rem 0;
}

.dark {
	background-color: #3A783C;
	color: #fff;	
}


